// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pp-purple: #492E87;
$pp-teal: #0A9E8F;
$pp-darkpurple: #0A1D56;
$pp-lightyellow: #F2F597;
