

<div class="card" style="width: 18rem;">
    <%= image_tag @petsitter.photo %>
  <div class="card-body">
        <h1 class="card-title"><%= @petsitter.first_name %> <%= @petsitter.last_name %></h1>
        <p class="card-text"><%= @petsitter.description %></p>
    <button type="button" class="btn btn-success">Book a call</button>
  </div>
</div>
