.banner {
  background-image: linear-gradient(rgba(131, 130, 130, 0.4),rgba(125, 124, 124, 0.4)), url('./banner_cat_and_dog.png');
  background-size: cover;
  background-position: center;
  padding: 50px 0 150px 0;
  // background-image: asset-url("banner.png");
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin: 0 auto;
  align-items: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 0 auto;
  align-items: center;
}
