.btn-primary {
  background-color: $pp-purple;
}

.large-button {
  background-color: $pp-purple;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 18px auto;
  align-items: center;

  &:hover {
    background-color: darken($pp-purple, 10%);
  }


}
