.card{
  margin: 15px 15px;
}


.form-control{
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 20px;
}

.input-group{
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 30px;
}


.card-group{
  margin: 0 400px;
  .card{
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

.profile{

  display: flex;
  justify-content: center;
  align-items: center;

  .pic-bio{
    display: flex;

    align-items: center;
    border: none;
    border-radius: 15px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.set-pic{

  border-radius: 30px;
  padding: 20px;

  .image{
    border-radius: 5px;

  }
}

.full-card{
  border: none;
  border-radius: 9px;
}

.review-scn{
  margin-top: 5px;
}

.btn-success{
  background-color: #0A9E8F;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover{
    background-color: #f5f5f5;

  }
}

.bnow-btn{
  display: flex;
  justify-content: center;
}

.review{

  margin-top: 20px;
  margin-bottom: 5px;
  h3{
    font-weight: bold;
  }

}

.home-pg{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  padding: 7px;
  margin: 30px 0px;

  }

  .box-hm-pg{
    margin: 0 125px;
  }

  .card-heading-hp{

    margin: 40px auto;
    text-align: center;
  }

  .profile-img-hp{
    border-radius: 10px;
  }

  .btn-light{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }



  .service-hp{
    margin: 0 300px;
  }

.booking-form{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-bottom: 60px;
}
