.card{
  margin: 15px 15px;
}


.form-control{
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 20px;
}

.input-group{
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 30px;
}


.card-group{
  margin: 0 400px;
  .card{
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

.profile{

  display: flex;
  justify-content: center;
  align-items: center;

  .pic-bio{
    display: flex;

    align-items: center;
    border: none;
    border-radius: 60px;
  }
}

.set-pic{
  padding: 8px;
  border-radius: 30px;
}

.full-card{
  border: none;
  border-radius: 9px;
}

.review-scn{
  margin-top: 20px;
}
