.results-container {
  width: 90%;
  margin: 0 auto;
  font-family: $body-font;
}

.results-container h1 {
  text-align: center;
  font-family: $headers-font;
}

.rounded-image {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.results {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  justify-content: center;
}

.map {
  width: 40%;
  height: 600px;
  margin-right: 5px;
}

.result-cards {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 600px;
  margin-top: 2px;
}

.result-cards img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.result-cards h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.result-cards p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8p;
  margin-top: 8px;
}

.result-cards .result-card-infos {
  padding: 16px;
}

.result-card {
  display: flex;
  background: white;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

#rate {
  font-size: 23px;
  font-weight: bold;
  color: #0A9E8F;
}

#link {
  text-decoration: none;
  color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#link:hover {
  text-decoration: none;
  color: #492E87;
  font-weight: bold;
}

#search-btn {
  background: #492E87;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

#search-btn:hover {
  background: #2c1a56;
}

.form-control:focus {
  border-color:#492E87;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(73, 46, 135, 0.6);
}

.form-check-input:checked {
  background-color: #492E87;
  border-color: #492E87;
}
